/* 0. RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.5;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

button, select, textarea, input {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* 1. GENERAL */
:root {
	--color-violet: hsl(257, 40%, 49%);
	--color-magenta: hsl(300, 69%, 71%);
	--color-netural-100: hsl(0, 0%, 100%);

	--ff-primary: 'Open Sans', sans-serif;
	--ff-secondary: 'Poppins', sans-serif;

	--fw-regular: 400;
	--fw-bold: 600;
}

body {
	background-color: var(--color-violet);
	background-image: url("./images/bg-mobile.svg");
	background-repeat: no-repeat;
	background-size: 100%;

	font-family: var(--ff-primary);
	color: var(--color-netural-100);
}

/* 2. HEADER */
header {
	padding-top: .75rem;
	padding-inline: 2.25rem;
	margin-bottom: 2.75rem;
}

/* 2.1 LOGO */
.logo {
	width: clamp(7.5rem, 30%, 11.5rem);
}

/* 3. HERO */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-inline: 2.25rem;
	text-align: center;
}

.hero__type {
	max-width: calc(25rem + 10%);
}

.hero__illustration {
	margin-inline: auto;
	margin-bottom: 3.75rem;
	width: clamp(18.9375rem, 70%, 30rem);
}

.hero__title {
	margin-bottom: 1rem;

	font-family: var(--ff-secondary);
	font-weight: var(--fw-bold);
	font-size: clamp(1.5em, 5vw, 2em);
}

.hero__paragraph {
	margin-bottom: 1.5rem;
}

.hero__register {
	border: 0;
	border-radius: 2rem;
	padding: .75rem 6rem;

	color: var(--color-violet);
	font-family: var(--ff-secondary);

	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* 4. FOOTER */
footer {
	margin-block: 5rem 3rem;
	display: flex;
	justify-content: center;
	gap: .75rem;
}

.icon {
	width: 2.25rem;
	height: 2.25rem;
	
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--color-netural-100);
	border-radius: 100%;
}

.icon:nth-child(3) {
	font-size: 1.125em;
}

/* A. MEDIA QUERIES */

/* A.1 60rem */
@media (min-width: 60rem) {
	/* A.1.1 BODY */
	body {
		background-image: url("./images/bg-desktop.svg");
		background-size: auto 100%;
	}

	/* A.1.2 HEADER */
	header {
		margin-inline: auto;
		max-width: 90rem;
		padding-inline: 4.25rem;
	}
	
	/* A.1.3 HERO */
	.hero {
		margin-inline: auto;
		max-width: 90rem;

		display: grid;
		grid-template-columns: 1.1fr 1fr;
		gap: 2.5rem;
		align-items: start;
		text-align: left;

		padding-inline: 4.25rem;
	}

	.hero__illustration {
		margin: 0;
		width: auto;
	}

	.hero__type {
		margin-bottom: 5rem;
		max-width: initial;
	}

	.hero__title {
		margin-bottom: 2rem;
		max-width: 22rem;
	}

	.hero__register {
		padding: 1rem 4.125rem;
	}

	/* A.1.4 FOOTER */
	footer {
		margin:auto;
		max-width: 90rem;

		justify-content: end;
		padding-inline: 4.25rem;
	}
}

/* A.2 70rem */
@media (min-width: 70rem) {
	.hero {
		align-items: center;
	}
}