/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	letter-spacing: 1.5;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

button, input, select, textarea {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* GENERAL */
:root {
	--color-primary: hsl(246, 80%, 60%); 
	--color-work-section: hsl(15, 100%, 70%);
	--color-play-section: hsl(195, 74%, 62%);
	--color-study-section: hsl(348, 100%, 68%);
	--color-exercise-section: hsl(145, 58%, 55%);
	--color-social-section: hsl(264, 64%, 52%);
	--color-self-care-section: hsl(43, 84%, 65%);

	--color-netural-100: hsl(0, 0%, 100%);
	--color-netural-200: hsl(236, 100%, 87%);
	--color-netural-400: hsl(235, 45%, 61%);
	--color-netural-800: hsl(235, 46%, 20%);
	--color-netural-900: hsl(226, 43%, 10%);

	--ff-primary: 'Rubik', sans-serif;

	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 500;
}

/* GENERAL */
body {
	background-color: var(--color-netural-900);

	font-family: var(--ff-primary);
	color: var(--color-netural-200);
}

main {
	padding-inline: 1.5rem;

	display: flex;
	gap: 1.5rem;
	flex-direction: column;
}

/* USER CONTROLLER */
.user-controller {
	border-radius: 1rem;
	background-color: var(--color-netural-800);
}

.user-details {
	padding: 2rem 1.75rem;

	display: flex;
	gap: 1rem;
	align-items: center;

	border-radius: 1rem;
	background-color: var(--color-primary);
}

.user-details__image {
	width: 4.25rem;

	border-radius: 100%;
	border: 3px solid var(--color-netural-100);
}

.user-details__name {
	display: flex;
	gap: .25rem;
	flex-direction: column;

	font-weight: var(--fw-light);
	font-size: 1.5rem;
	color: var(--color-netural-100);
}

.user-details__name-label {
	font-size: 1rem;
	color: var(--color-netural-200);
}

.timeframe-controls {
	padding-inline: 1.75rem;
}

.timeframe-controls__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.timeframe-controls__list-button {
	padding-block: 1.25em;
	border: 0;
	background-color: transparent;

	font-size: 1.125rem;
	color: var(--color-netural-400);
}

/* STAT CARD */
.user-statistics {
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
}

.stat-card {
	padding-top: 2.25rem;
	
	border-radius: 1rem;
	background-color: var(--color-netural-800);
	background-repeat: no-repeat;
	background-position: 94% -12px;
}

.stat-card__content {
	padding: 1.5rem;

	border-radius: 1rem;
	background-color: var(--color-netural-800);
}

.stat-card__header {
	margin-bottom: .25rem;

	display: flex;
	justify-content: space-between;
}

.stat-card__stat-name {
	font-size: 1.25rem;
	font-weight: var(--fw-regular);
	color: var(--color-netural-100);
}

.stat-card__options {
	border: 0;
	background-color: transparent;
}

.stat-card__details-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.stat-card__current-stat {
	font-size: 2rem;
	font-weight: var(--fw-light);
	color: var(--color-netural-100);
}

/* SPECIFIC STAT CARDS */
.stat-card[data-card="work"] {
	background-color: var(--color-work-section);
	background-image: url("./images/icon-work.svg");
}

.stat-card[data-card="play"]  {
	background-color: var(--color-play-section);
	background-image: url("./images/icon-play.svg");
}

.stat-card[data-card="study"]  {
	background-color: var(--color-study-section);
	background-image: url("./images/icon-study.svg");
}

.stat-card[data-card="exercise"]  {
	background-color: var(--color-exercise-section);
	background-image: url("./images/icon-exercise.svg");
}

.stat-card[data-card="self-care"]  {
	background-color: var(--color-self-care-section);
	background-image: url("./images/icon-self-care.svg");
}

.stat-card[data-card="social"]  {
	background-color: var(--color-social-section);
	background-image: url("./images/icon-social.svg");
}