/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-width: 100%;
}

body {
	line-height: 1.65;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

button, input, select, textarea {
	font: inherit;
}

/* GENERAL */
:root {
	--color-red: hsl(0, 78%, 62%);
	--color-cyan: hsl(180, 62%, 55%);
	--color-orange: hsl(34, 97%, 64%);
	--color-blue: hsl(212, 86%, 64%);

	--color-natural-100: hsl(0, 0%, 98%);
	--color-natural-400: hsl(229, 6%, 66%);
	--color-natural-700: hsl(234, 12%, 34%);

	--ff-primary : 'Poppins', sans-serif;
	--fw-light: 200;
	--fw-regular: 400;
	--fw-bold: 600;
}

/* 1. GENERAL */
body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: .9375rem;
	color: var(--color-natural-700);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: .5rem;
	text-align: center;
}

h1 {
	line-height: 1.5;
	font-size: 1.6em;
	font-weight: var(--fw-light);
}

@media (min-width: 40rem) {
	h1 {
		font-size: 2.2em;
	}
}

h1 b {
	font-weight: var(--fw-bold);
}

p {
	color: var(--color-natural-400);
}

h2 {
	font-size: 1.25em;
}

/* 2. HERO ELEMENTS */
.primary {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.primary__title {
	max-width: 30rem;
	margin-block: 4.75rem 1rem;
}

.primary__paragraph {
	max-width: 36rem;
	margin-bottom: 5rem;
	padding-inline: 2rem;
}

/* 3. CARD */
.cards {
	display: grid;
	place-content: center;
	max-width: 80rem;
}

@media (min-width: 50rem) {
	.cards {
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.card1 {
		grid-row: 1/3;
		grid-column: 1;
	}

	.card2 {
		grid-row: 1/2;
		grid-column: 2;
	}

	.card3 {
		grid-row: 2/3;
		grid-column: 2;
	}

	.card4 {
		grid-row: 1/3;
		grid-column: 3;
	}
}

.card {
	overflow: hidden;
	position: relative;
	max-width: 22rem;
	margin: 1.5rem;
	padding: 1.5rem;
	text-align: left;

	border-radius: .5rem;
	box-shadow: 0px 15px 50px -40px var(--color-blue);
}

.card__highlight {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;

	border: 0;
	background-color: gray;
}

.card__highlight-cyan {
	background-color: var(--color-cyan);
}

.card__highlight-red {
	background-color: var(--color-red);
}

.card__highlight-yellow {
	background-color: var(--color-orange);
}

.card__highlight-blue {
	background-color: var(--color-blue);
}

.card__paragraph {
	margin-bottom: 2rem;
	font-size: .875rem;
}

.card__icon {
	float: right;
	width: 3.5rem;
	margin-bottom: .25rem;
}