/* 0. RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.5;
}

button, input, select, textarea {
	font: inherit;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* 1. GENERAL */
@font-face {
	font-family: Inter;
	src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

:root {
	--color-orange: hsl(35, 77%, 62%);
	--color-red: hsl(5, 85%, 63%);

	--color-netural-200: hsl(36, 100%, 99%);
	--color-netural-300: hsl(233, 8%, 79%);
	--color-netural-600: hsl(236, 13%, 42%);
	--color-netural-900: hsl(240, 100%, 5%);

	--ff-primary: 'Inter', sans-serif;
	--fw-regular: 400;
	--fw-bold: 700;
	--fw-extrabold: 800;
}

body {
	font-family: var(--ff-primary);
	font-size: .975rem;

	--screen-spacing: 1rem;
}

/* 2. HEADER */
header {
	margin-inline: var(--screen-spacing);
	margin-block: 1.5rem;
	max-width: 70rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: clamp(3rem, 9vw, 4rem);
}

.main-navigation__list {
	height: 100%;
	display: none;
	list-style: none;
}

.main-navigation__link {
	display: block;
	padding: .5rem 1rem;
	text-decoration: none;
	color: var(--color-netural-600);
}

.mobile-navigation {
	border: 0;
}

/* 3. MAIN */
main {
	margin-inline: var(--screen-spacing);
	max-width: 70rem
}

/* A. MEDIA QUERIES */

/* A.1 45rem */
@media (min-width: 45rem) {

	/* A.1.1 HEADER */
	.main-navigation__list {
		display: flex;
	}

	.mobile-navigation {
		display: none;
	}
}

/* A.2 70rem */
@media (min-width: 70rem) {
	body {
		--screen-spacing: auto;
	}
}