/* 0. RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.6;
}

button, input, select, textarea {
	font: inherit;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* 1. GENERAL */
@font-face {
	font-family: Inter;
	src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

:root {
	--color-orange: hsl(35, 77%, 62%);
	--color-red: hsl(5, 85%, 63%);

	--color-netural-200: hsl(36, 100%, 99%);
	--color-netural-300: hsl(233, 8%, 79%);
	--color-netural-600: hsl(236, 13%, 42%);
	--color-netural-900: hsl(240, 100%, 5%);

	--ff-primary: 'Inter', sans-serif;
	--fw-regular: 400;
	--fw-bold: 700;
	--fw-extrabold: 800;
}

body {
	font-family: var(--ff-primary);
	font-size: .925rem;

	--screen-spacing: 1rem;
}

h1, h2, h3 {
	line-height: 1;
}

p, a {
	color: var(--color-netural-600);
}

/* 2. HEADER */
header {
	margin-inline: var(--screen-spacing);
	margin-block: 1.5rem;
	max-width: 70rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: clamp(3rem, 9vw, 4rem);
}

/* 2.1 MAIN NAVIGATION */
.main-navigation__list {
	height: 100%;
	display: none;
	list-style: none;
}

.main-navigation__link {
	display: block;
	padding: .5rem 1rem;
	text-decoration: none;
}

.main-navigation__link:is(:hover, :focus),
.mobile-main-navigation__link:is(:hover, :focus) {
	color: var(--color-red);
}

/* 2.2 MOBILE NAVIGATION */
.mobile-navigation-button,
.mobile-main-navigation__button {
	background-color: var(--color-netural-200);
	border: 0;
}

.mobile-main-navigation {
	position: fixed;
	top: 0;
	right: 0;
	width: 16rem;
	height: 100vh;

	display: flex;
	flex-direction: column;

	padding: 1.5rem;
	background-color: var(--color-netural-200);
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, .5);
}

.mobile-main-navigation[data-open="false"] {
	display: none;
}

.mobile-main-navigation__button {
	align-self: end;
	margin-bottom: 4.75rem;
}

.mobile-main-navigation__list {
	list-style: none;
}

.mobile-main-navigation__link {
	display: block;

	padding-block: .625rem;
	font-size: 1.125rem;
	text-decoration: none;
	color: var(--color-netural-900);
}


/* 3. MAIN */
main {
	margin-inline: var(--screen-spacing);
	max-width: 70rem;
}

/* 3.1 BIG ARTICLE */
.big-article__image {
	margin-bottom: 1.5rem;
}

.big-article__image img {
	max-height: 20rem;
	width: 100%;
	object-fit: cover;
	object-position: top center;
}

.big-article__title {
	margin-bottom: 1.25rem;

	font-size: 2.5rem;
	font-weight: var(--fw-extrabold);
	color: var(--color-netural-900);
}

.big-article__paragraph {
	margin-bottom: 1.5rem;
}

.big-article__read-more {
	margin-bottom: 4rem;

	padding: .75rem 2rem;
	border: 0;
	background-color: var(--color-red);
	
	text-transform: uppercase;
	letter-spacing: .5ch;
	font-size: 1;
	font-weight: var(--fw-bold);
	color: var(--color-netural-200);

	cursor: pointer;
}

.big-article__read-more:where(:hover, :focus) {
	background-color: var(--color-netural-900);
}

/* 3.2 NEW ASIDE */
.new {
	margin-bottom: 4rem;
	padding: 1.5rem;

	background-color: var(--color-netural-900);
	color: var(--color-netural-200);
}

.new__title {
	margin-bottom: 2.25rem;

	font-size: 2rem;
	color: var(--color-orange);
}

.new__content-title {
	margin-bottom: .75rem;
	font-size: 1.25rem;

	cursor: pointer;
}

.new__content-title:where(:hover, :focus) {
	color: var(--color-orange);
}

.new__content-paragraph {
	color: var(--color-netural-300);
}

.new__separator {
	margin-block: 2rem;
	border-color: var(--color-netural-600);
}

/* 3.3 TOP ARTICLES */
.top-articles {
	display: flex;
	/* justify-content: space-between; */
	gap: 2.25rem;
	flex-wrap: wrap;
}

.article {
	flex-grow: 1;
	flex-basis: 21.5rem;

	display: grid;
	grid-template-columns: 6.25rem 1fr;
	column-gap: 1.5rem;
}

.article__image {
	grid-row: 1 / 3;
}

.article__title{
	display: flex;
	flex-direction: column;

	font-size: 1.125rem;
	font-weight: var(--fw-extrabold);
	margin-bottom: .75rem;
}

.article:where(:hover, :focus) .article__title {
	color: var(--color-red);
}

.article__title-number {
	margin-bottom: 1rem;
	font-size: 1.75rem;
	font-weight: var(--fw-bold);
	color: var(--color-netural-300);
}

.article__paragraph {
	grid-column: 2 / 3;
}

/* A. MEDIA QUERIES */

/* A.1 45rem */
@media (min-width: 45rem) {

	/* A.1.1 HEADER */
	header {
		margin-block: 5.5rem 3.5rem;
	}

	.main-navigation__list {
		display: flex;
	}

	.mobile-main-navigation {
		display: none;
	}

	.mobile-navigation-button {
		display: none;
	}
}

/* A.2 50rem */
@media (min-width: 50rem) {

	/* A.2.1 GENERAL */
	body {
		font-size: .975rem;
	}

	/* A.2.2 MAIN */
	.hero {
		display: flex;
		gap: 2rem;
	}

	/* A.2.3 BIG ARTICLE */
	.big-article__details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.big-article__image {
		grid-column: 1 / 3;
	}

	.big-article__image img {
		max-height: initial;
		object-fit: cover;
	}

	.big-article__title {
		grid-row-end: span 2;
		padding-right: 1rem;
		font-size: clamp(2.85rem, 5vw, 3.5rem);
	}

	.big-article__paragraph {
		grid-column: 2 / 3;
		margin-bottom: 0;
	}

	.big-article__read-more {
		grid-column: 2 / 3;
		justify-self: start;
	}

	/* A.2.4 NEW ASIDE */
	.new {
		min-width: min(22rem, 26vw);
		align-self: start;
	}
}

/* A.3 70rem */
@media (min-width: 70rem) {
	body {
		--screen-spacing: auto;
	}
}