/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.5;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

button, input, select, textarea {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* GENERAL */
:root {
	--color-red-200: hsl(7, 99%, 70%);
	--color-yellow-400: hsl(51, 100%, 49%);
	--color-cyan-200: hsl(167, 44%, 70%);
	--color-cyan-400: hsl(168, 34%, 41%);
	--color-cyan-700: hsl(167, 40%, 24%);
	--color-blue-400: hsl(200, 100%, 62%);
	--color-blue-700: hsl(198, 62%, 26%);

	--color-netural-100: hsl(0, 0%, 100%);
	--color-netural-300: hsl(210, 4%, 67%);
	--color-netural-400: hsl(232, 10%, 55%);
	--color-netural-600: hsl(213, 9%, 39%);
	--color-netural-800: hsl(212, 27%, 19%);

	--ff-primary: 'Barlow', sans-serif;
	--ff-secondary: 'Fraunces', serif;

	--fw-primary-regular: 600;
	--fw-secondary-regular: 700;
	--fw-secondary-bold: 900;
}

body {
	background-color: var(--color-netural-100);
	font-family: var(--ff-primary);
	font-size: 1.125rem;
	font-weight: var(--fw-primary-regular);
	color: var(--color-netural-100);
}

h1, h2, h3 {
	font-family: var(--ff-secondary);
}

/* MAIN HEADER */
.main-header {
	margin-inline: auto;
	max-width: 90rem;
	padding-top: 1.625rem;
	padding-inline: 1.5rem;

	z-index: 10;
	position: absolute;
	top: 0;
	inset-inline: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.125rem;
}

/* MAIN NAVIGATION */
.main-nav {
	padding-block: 2.5rem;

	position: absolute;
	top: 6.5rem;
	left: 1.5rem;
	right: 1.5rem;

	display: none;

	background-color: var(--color-netural-100);
}

.main-nav::before {
	content: ' ';

	position: absolute;
	right: 0;
	top: 0;

	transform: translateY(-50%);

	border: 1.25rem solid transparent;
	border-right-color: var(--color-netural-100);
}

.main-nav--open {
	display: initial;
}

.main-nav__mobile-button {
	border: 0;
	background-color: transparent;
}

.main-nav__list {
	display: flex;
	gap: 1.75rem;
	flex-direction: column;
	align-items: center;

	list-style: none;
}

.main-nav__list-item {
	width: 100%;
	text-align: center;
}

.main-nav__list-item:last-child {
	display: flex;
	justify-content: center;
}

.main-nav__link {
	display: block;

	font-size: 1.125rem;
	text-decoration: none;
	color: var(--color-netural-400);
}

.main-nav__link-button {
	padding: 1rem 2rem;
	width: fit-content;

	display: block;

	border-radius: 2rem;
	background-color: var(--color-yellow-400);

	font-family: var(--ff-secondary);
	font-weight: var(--fw-secondary-regular);
	font-size: .925rem;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-netural-800);
}

/* MAIN CONTENT */
/* HERO */
.hero {
	height: 40rem;
	position: relative;

	background-color: var(--color-blue-400);
	background-image: url("./images/mobile/image-header.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.hero .container {
	height: 100%;
}

.hero__content {
	margin-inline: auto;
	max-width: 90rem;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.hero__title {
	padding-top: 1rem;

	font-size: 2.5rem;
	font-weight: var(--fw-secondary-bold);
	text-transform: uppercase;
	line-height: 1.25;
	letter-spacing: .2ch;
}

/* INFORMATION */
.information {
	color: var(--color-netural-400);
}

.information__image img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

/* INFO SECTION */
.info-section {
	margin-inline: auto;
	max-width: 22rem;
	padding-block: 4rem;
}

.info-section--graphic-design,
.info-section--photography {
	min-height: 40rem;
	max-width: 100%;

	display: flex;
	align-items: flex-end;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.info-section--graphic-design {
	background-image: url("./images/mobile/image-graphic-design.jpg");
}

.info-section--photography {
	background-image: url("./images/mobile/image-photography.jpg");
}

.info-section__title {
	margin-bottom: 1.5rem;

	font-size: 2rem;
	line-height: 1.25;
	color: var(--color-netural-800);
}

.info-section__title--graphic-design,
.info-section__paragraph--graphic-design {
	color: var(--color-cyan-700);
}

.info-section__title--photography,
.info-section__paragraph--photography {
	color: var(--color-blue-700);
}

.info-section__title--graphic-design,
.info-section__title--photography {
	font-size: 1.75rem;
}

.info-section__paragraph {
	margin-bottom: 2rem;
}

.info-section__paragraph--graphic-design,
.info-section__paragraph--photography {
	font-size: .975rem;
}

.info-section__more {
	position: relative;

	font-family: var(--ff-secondary);
	font-weight: var(--fw-secondary-bold);
	font-size: .975rem;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-netural-800);
}

.info-section__more::before {
	content: '';
	z-index: -10;
	position: absolute;
	left: -4px;
	right: -4px;
	bottom: -2px;
	height: 8px;

	border-radius: 2rem;

	opacity: .25;
}

.info-section__more--yellow::before {
	background-color: var(--color-yellow-400);
}

.info-section__more--orange::before {
	background-color: var(--color-red-200);
}

/* TESTIMONIALS */
.testimonials {
	padding-block: clamp(4rem, 15%, 10rem);

	color: var(--color-netural-600);
	text-align: center;
}

.testimonials__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem 0;
}

.testimonials__title {
	margin-bottom: 3.75rem;

	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .5ch;
	color: var(--color-netural-300);
}

.testimonial {
	max-width: 20.5rem;
	height: 100%;

	display: flex;
	flex-direction: column-reverse;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
}

.testimonial__name {
	display: flex;
	flex-direction: column;
	gap: .5rem;

	font-size: 1.125rem;
	font-weight: var(--fw-secondary-bold);
	color: var(--color-netural-800);
}

.testimonial__title {
	font-family: var(--ff-primary);
	font-size: .825rem;
	color: var(--color-netural-300);
}

.testimonial__paragraph {
	line-height: 1.75;
}

.testimonial__image {
	width: 4.5rem;
	border-radius: 100%;
}

.testimonial__combined {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 2rem;
}

/* GALLERY */
.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* MAIN FOOTER */
.main-footer {
	padding-block: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--color-cyan-200);
	color: var(--color-cyan-400);
	fill: var(--color-cyan-700);
}

.main-footer__logo {
	margin-bottom: 2rem;
	width: 10.625rem;
	height: auto;
}

/* FOOTER NAV */
.footer-nav {
	margin-bottom: 5.25rem;
}

.footer-nav__list {
	display: flex;
	gap: 4rem;

	list-style: none;
}

.footer-nav__list-link {
	text-decoration: none;
	color: var(--color-cyan-400);
}

/* FOOTER SOCIALS */
.socials__list {
	display: flex;
	gap: 1.75rem;
	list-style: none;
}

/* HELPERS */
.container {
	text-align: center;
	padding-inline: 1.5rem;
}

.info-section--graphic-design .container,
.info-section--photography .container {
	min-height: 50%;
}

/* MEDIA QUERIES */
@media (min-width: 32rem) {
	.hero {
		background-image: url("./images/desktop/image-header.jpg");
		background-size: 160%;
	}
}

@media (min-width: 48rem)  {
	/* MAIN HEADER */
	.main-header {
		padding-inline: 2.5rem;
	}

	.logo {
		width: clamp(7.75rem, 15%, 10.625rem);
		height: auto;
	}

	/* MAIN NAVIGATION */
	.main-nav__mobile-button {
		display: none;
	}

	.main-nav {
		padding-block: 0;

		position: relative;
		inset: initial;
		display: initial;

		background-color: initial;
	}

	.main-nav::before {
		display: none;
	}

	.main-nav__list {
		flex-direction: row;
		gap: 0;
	}

	.main-nav__list-item {
		width: fit-content;
	}

	.main-nav__link {
		padding: 1.25rem 1.5rem;
		font-size: 1rem;
		color: var(--color-netural-100);
	}

	.main-nav__link-button {
		margin-left: 1.5rem;
		padding: 1.125em 2.25em;

		background-color: var(--color-netural-100);
	}

	/* MAIN */
	/* HERO */
	.hero {
		height: min(100vh, 43.5rem);
		background-size: 63rem;
	}

	.hero__title {
		padding-top: 0;
		font-size: 3.375rem;
	}

	/* INFORMATION */
	.information__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.information__row--reverse :last-child {
		grid-row: 1;
		grid-column: 1 / 2;
	}

	.info-section {
		padding-block: 0;
	}

	.info-section--graphic-design {
		background-image: url("./images/desktop/image-graphic-design.jpg");
	}

	.info-section--photography {
		background-image: url("./images/desktop/image-photography.jpg");
	}

	.info-section--graphic-design,
	.info-section--photography {
		height: 90vh;
		width: 100%;
	}

	.info-section--graphic-design .container,
	.info-section--photography .container {
		margin-inline: auto;
		min-height: 30%;
		width: min(60%, 24rem);
	}

	/* TESTIMONIALS */
	.testimonials__title {
		margin-bottom: 4.75rem;
		font-size: 1.25rem;
	}

	/* GALLERY */
	.gallery {
		grid-template-columns: repeat(4, 1fr);
	}

	/* HELPERS */
	.container {
		text-align: left;
	}

	.container--center {
		display: flex;
		align-items: center;
	}

	.container--text-center {
		text-align: center;
	}
}