/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.5;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

button, input, select, textarea {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* GENERAL */
:root {
	--color-netural-100: hsl(0, 0%, 98%);
	--color-netural-500: hsl(0, 0%, 41%);
	--color-netural-900: hsl(0, 0%, 8%);

	--ff-primary: 'Epilogue', sans-serif;

	--fw-regular: 500;
	--fw-bold: 700;
}

body {
	font-family: var(--ff-primary);
	background-color: var(--color-netural-100);
}

body, button, a {
	color: var(--color-netural-500);
}

/* SITE HEADER */
.site-header {
	display: flex;
	gap: 4rem;
	justify-content: space-between;

	padding-inline: 2.75rem;
	margin-top: 2rem;
	font-size: .875rem;
}

.site-header__logo {
	min-width: 84px;
}

/* MAIN NAV */
.site-nav {
	min-height: 100%;
}

.site-nav__mobile-menu-toggle {
	border: 0;
	background-color: var(--color-netural-100);
}

.navigations {
	display: none;

	justify-content: space-between;
}

.site-nav__links-list {
	display: flex;
	list-style: none;
}

.site-nav__dropdown-toggle {
	display: flex;
	align-items: center;
	gap: .5rem;

	border: 0;
	background-color: var(--color-netural-100);

	cursor: pointer;
}

.site-nav__links-list-link {
	text-decoration: none;
}

/* USER NAV */
.site-nav__user-list {
	display: flex;
	list-style: none;
}

.site-nav__user-list-link,
.site-nav__user-list-link-button {
	text-decoration: none;
}

.site-nav__user-list-link-button {
	padding: .75rem 1.3275rem;

	border-radius: .875rem;
	border: 1px solid var(--color-netural-500);
}

/* SITE NAV OPEN */
:where(.site-nav[data-open="true"]) .navigations {
	position: absolute;
	top: 0;
	right: 0;

	height: 100vh;
	width: 15rem;

	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 1.75rem;

	padding: 1.5rem;

	background-color: var(--color-netural-100);

	box-shadow: 0 0 0 100vw hsla(0, 0%, 0%, .75);
}

:where(.site-nav[data-open="true"]) .site-nav__mobile-menu-toggle {
	align-self: end;
}

:where(.site-nav[data-open="true"]) .site-nav__links-list,
:where(.site-nav[data-open="true"]) .site-nav__user-list {
	flex-direction: column;
	gap: 1rem;
}

:where(.site-nav[data-open="true"]) .site-nav__links-list {
	font-size: 1rem;
}

:where(.site-nav[data-open="true"]) .site-nav__user-list-link,
:where(.site-nav[data-open="true"]) .site-nav__user-list-link-button {
	display: block;
	text-align: center;
}

:where(.site-nav[data-open="true"]) .site-nav__user-list-link-button {
	padding-block: .5rem;
}

/* MEDIA QUERIES */
@media (min-width: 54rem) {
	/* SITE HEADER */
	.site-header {
		justify-content: initial;
	}

	/* SITE NAVIGATION */
	.site-nav__mobile-menu-toggle {
		display: none;
	}

	.site-nav {
		width: 100%;
	}

	.navigations {
		display: flex;
	}

	.navigations {
		position: initial;
		top: initial;
		right: initial;

		height: initial;
		width: initial;

		padding: 0;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 4rem;

		background-color: transparent;
		box-shadow: none;
	}

	.site-nav__links-list,
	.site-nav__user-list {
		flex-direction: row;
		gap: 2.5rem;
	}

	.site-nav__links-list {
		font-size: inherit;
	}

}