/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

button, input, textarea, select {
    font: inherit;
}

img, picture, svg, video {
    max-width: 100%;
}

/* GENERAL */
:root {
    --color-primary: hsl(273, 75%, 66%);
    --color-secondary: hsl(240, 73%, 65%);
    --color-trietary: hsl(14, 88%, 65%);

    --color-netural-100: hsl(240, 5%, 91%);
    --color-netural-400: hsl(240, 6%, 50%);
    --color-netural-500: hsl(237, 12%, 33%);
    --color-netural-700: hsl(238, 29%, 16%); 
    
    --ff-primary: 'Kumbh Sans', sans-serif;

    --fw-primary: 400;
    --fw-bold: 700;
}

/* 1. GENERAL */
/* 1.1 STYLING */
body {
    font-family: var(--ff-primary);
    font-size: .875rem;
    color: var(--color-netural-500);
    background: linear-gradient(var(--color-primary), var(--color-secondary));
}

h1, h2, h3 {
    color: var(--color-netural-700);
}

h1 {
    font-size: 2rem;
}

details {
    padding-bottom: 1rem;
    border-bottom: 1.5px solid var(--color-netural-100);

    font-size: .875em;
    color: var(--color-netural-400);
}

summary {
    padding-top: 1rem;
    list-style: none;

    font-size: .875rem;
    color: var(--color-netural-500);

    cursor: pointer;
}

summary:is(:hover, :focus) {
    color: var(--color-trietary);
}

summary::after {
    content: url("./images/icon-arrow-down.svg");
    transition: transform .1s ease;
}

details[open] summary {
    padding-bottom: .5rem;

    font-weight: var(--fw-bold);
    color: var(--color-netural-700);
}

details[open] summary:hover {
    color: var(--color-trietary);
}

details[open] summary::after {
    transform: rotate(180deg);
}

/* 1.2 LAYOUT */
main {
    min-height: 95vh;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    padding: 1.5rem;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 2. SPECIFIC */
/* 2.1 STYLING */
.faq {
    --padding-inline: 1.5rem;

    background-color: #ffffff;
    border-radius: 1.5rem;

    overflow: visible;
}

/* 2.2 LAYOUT */
.faq {
    position: relative;
    margin-inline: auto;
    width: 100%;
    max-width: 30rem;
    padding: 6rem var(--padding-inline) 3.5rem var(--padding-inline);
}

@media (min-width: 65rem) {
    .faq {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 60rem;
        height: 30rem;
        padding: 0;
    }

    .faq__content {
        padding: 2rem 6rem 5rem 0;
        overflow: hidden;
    }
}

.illustration {
    position: absolute;
    top: 0;
    left: calc(50% - 120px);
}

.illustration__desk {
    content: url("./images/illustration-woman-online-mobile.svg");
    position: absolute;
    top: -108px;
    left: 0;
}

.illustration__shadow {
    content: url("./images/bg-pattern-mobile.svg");
}

@media (min-width: 65rem) {
    .illustration {
        position: relative;
        top: initial;
        left: initial;
    }

    .illustration__desk {
        width: 100%;
        height: 100%;
        inset: 0;

        content: '';
        background-image: url("./images/illustration-woman-online-desktop.svg");
        background-repeat: no-repeat;
        background-position: top 50px right 80px;
    }

    .illustration__shadow {
        width: 100%;
        height: 100%;

        content: ' ';
        background-image: url("./images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: top -300px right 80px;
    }

    .illustration__box {
        position: absolute;
        z-index: 10;
        content: url("./images/illustration-box-desktop.svg");
        top: 190px;
        left: -100px;
    }
}

.faq__title {
    margin-block: 2rem .5rem;
    text-align: center;
}

@media (min-width: 65rem) {
    .faq__title {
        text-align: left;
    }
}