/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	letter-spacing: 1.5;
}

img, picture, svg, video {
	max-width: 100%;
}

button, textarea, input, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* 1. GENERAL */
:root {
	--color-magenta: hsl(300, 43%, 22%);
	--color-pink: hsl(333, 80%, 67%);

	--color-netural-100: hsl(0, 0%, 100%);
	--color-netural-200: hsl(300, 24%, 96%);
	--color-netural-400: hsl(303, 10%, 53%);

	--ff-primary: 'League Spartan', sans-serif;

	--fw-light: 400;
	--fw-regular: 500;
	--fw-bold: 700;
}

body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: 1.1rem;
	color: var(--color-netural-400);
	background-color: var(--color-netural-100);

	padding: 1.5rem;
}

main {
	text-align: center;
}

h1, h2, h3 {
	color: var(--color-magenta);
}

h1 {
	margin-block: 3.85rem 1.5rem;
	font-size: 2.2em;
	line-height: .8;
}

/* 2. SPECIFIC */
.ratings {
	margin-top: 2.5rem;
}

.rating {
	margin-bottom: 1rem;
	border-radius: .5rem;
	background-color: var(--color-netural-200);
	padding: 1rem .75rem .75rem .75rem;
}

.rating__stars {
	margin-bottom: .5rem;
}

.rating__stars img {
	margin-left: .125rem;
}

.rating p {
	font-size: 1rem;
	font-weight: var(--fw-bold);
	color: var(--color-magenta);
}

.review {
	background-color: var(--color-magenta);
	color: var(--color-netural-100);
}

.review__image {
	width: 2.5rem;
	border-radius: 100%;
}

.name {
	font-weight: var(--fw-light);
	color: var(--color-pink);
}

.name cite {
	font-weight: var(--fw-bold);
	font-style: normal;
	color: var(--color-netural-100);
}