/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.7;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

input {
	width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

button, input, select, textarea {
	font: inherit;
}

/* 1. GENERAL */
:root {
	--color-primary-1: hsl(0, 100%, 74%);
	--color-primary-2-400: hsl(154, 59%, 51%);
	--color-primary-2-500: hsl(154, 59%, 41%);
	--color-accent: hsl(248, 32%, 49%);

	--color-netural-300: hsl(246, 25%, 77%);
	--color-netural-600: hsl(249, 10%, 26%);

	--ff-primary: 'Poppins', sans-serif;

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
}

/* 1.1 STYLING */
body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-medium);
	color: #d2d2d2;

	background: var(--color-primary-1) url('./images/bg-intro-mobile.png');
}

h1, h2, h3 {
	color: #ffffff;
}

h1 {
	font-size: 1.75em;
	line-height: 1.2;
}

@media (min-width: 60rem) {
	h1 {
		font-size: 3rem;
	}
}

input:where([type='text'], [type='email'], [type='password']) {
	border: 1px solid #d2d2d2;
	border-radius: .25rem;
}

input:where([type='text'], [type='email'], [type='password']):where(:hover, :focus) {
	border-color: var(--color-netural-600);
	outline: none;
}

input:where([type='text'], [type='email'], [type='password'])::placeholder {
	font-size: .875em;
	font-weight: var(--fw-semibold);
}

input[type='submit'] {
	text-transform: uppercase;
	font-size: .875em;
	font-weight: var(--fw-semibold);
	letter-spacing: .1ch;
	color: #d2d2d2;

	background-color: var(--color-primary-2-400);
	border: 0;
	border-radius: .25rem;

	box-shadow: 0 4px var(--color-primary-2-500);
	cursor: pointer;
}

input[type='submit']:where(:hover, :focus) {
	opacity: .6;
}

/* 1.2 LAYOUT */
main {
	min-height: 95vh;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;

	padding: 1.5rem;
	text-align: center;
}

@media (min-width: 60rem) {
	main {
		grid-template-columns: 1fr 1fr;
	}
}

input {
	max-width: 100%;
}

input:where([type='text'], [type='email'], [type='password']) {
	padding: .875rem 0 .875rem 1.25rem;
}

input[type='submit'] {
	width: 100%;
	padding: 1rem 2rem;
}

/* 2. SPECIFIC */
/* 2.1 STYLING */
.title-trial {
	font-size: .875em;
	font-weight: var(--fw-regular);
	color: #d2d2d2;

	border-radius: .5rem;
	background-color: var(--color-accent);

	box-shadow: 0px 6px 0px rgb(0, 0, 0, .25);
}

.title-trial__highlight {
	font-weight: var(--fw-bold);
	color: #ffffff;
}

.form-section {
	border-radius: .5rem;
	background-color: #ffffff;

	box-shadow: 0px 6px 0px rgb(0, 0, 0, .25);
}

.tos {
	font-size: .625em;
}

.tos__link {
	text-decoration: none;
	font-weight: var(--fw-bold);
	color: var(--color-primary-1);
}

/* 2.2 LAYOUT */
.hero {
	margin-top: 5rem;
	width: 100%;
	max-width: 32rem;
}

@media (min-width: 60rem) {
	.hero {
		text-align: initial;
	}
}

.hero__title {
	margin-bottom: 1.25rem;
}

.hero__paragraph {
	margin-bottom: 3.75rem;
}

.title-trial {
	margin-bottom: 1.5rem;
	padding: 1rem 4rem;
	width: 100%;
	max-width: 32rem;
}

.form-section {
	padding: 1.5rem;
	width: 100%;
	max-width: 32rem;
}

.form-section input {
	margin-block: .5rem;
}

.tos {
	margin-top: .5rem;
	padding-inline: .5rem;
}

.field-error {
	border-color: var(--color-primary-1);
	border-width: 2px;
	background: url('./images/icon-error.svg');
	background-repeat: no-repeat;
	background-position: top 50% right 1.25rem;
}

.field-error + .error {
	display: inline-block;
	width: 100%;

	text-align: right;
	font-style: italic;
	font-size: .625rem;
	color: var(--color-primary-1);
}