/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.5;
}

img, picture, video, svg {
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

button, select, textarea, input {
	font: inherit;
}

/* 1. GENERAL */
:root {
	--color-primary: hsl(179, 62%, 43%);
	--color-primary-80: hsla(179, 62%, 43%, .80);
	--color-secondary: hsl(71, 73%, 54%);
	
	--color-netural-100: hsl(204, 43%, 93%);
	--color-netural-200: hsl(218, 22%, 67%);

	--ff-primary: 'Karla', sans-serif;
	--fw-netural: 400;
	--fw-bold: 700;
}

/* 1.1 STYLE */
body {
	font-family: var(--ff-primary);
	font-size: .75rem;
	color: var(--color-netural-200);
	background-color: var(--color-netural-100);
}

h1, h2, h3 {
	color: var(--color-primary);
}

h2 {
	font-size: 1rem;
}

button {
	border: 0;
	padding: .75rem 2rem;

	font-size: .75rem;
	font-weight: var(--fw-bold);
	color: var(--color-netural-100);
	background-color: var(--color-secondary);
	border-radius: .25rem;

	box-shadow: 0 5px 20px hsl(218, 22%, 67%);
}

ul {
	list-style: none;
}

/* 1.2 LAYOUT */
main {
	display: grid;
	place-content: center;
	padding: 1.5rem;
}

/* 2. SPECIFIC */
/* 2.1 STYLE */
.price-grid {
	overflow: hidden;
	border-radius: .25rem;
	max-width: 25rem;

	box-shadow: 0 5px 20px rgba(0, 0, 0, .25);
}

.price-grid__primary-container {
	background-color: #ffffff;
}

.price-grid__secondary-container {
	background-color: var(--color-primary);
}

.price-grid__secondary-title {
	color: #ffffff;
}

.price-grid__secondary-paragraph,
.price-grid__secondary-list-item {
	color: #ffffffc0;
}

.price-grid__trietary-container {
	background-color: var(--color-primary-80);
}

.price-grid__highlight {
	font-weight: var(--fw-bold);
	color: var(--color-secondary);
}

.price {
	display: flex;
	gap: .5rem;
	align-items: center;

	font-size: 1.5rem;
	font-weight: var(--fw-bold);
	color: #ffffff;
}

.price__unit {
	font-size: .75rem;
	font-weight: initial;
	color: #ffffff80;
}

/* 2.2 LAYOUT */
.price-grid__container {
	padding: 1.25rem;
	display: flex;
	flex-direction: column;
}

.price-grid__primary-paragraph {
	margin-top: .5rem;
}

.price-grid__title {
	margin-bottom: .75rem;
}

.price-grid__button {
	margin-top: 1.5rem;
}