/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

button, input, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* 1. GENERAL */
:root {
	--color-primary-400: hsl(31, 77%, 52%);
	--color-secondary-700: hsl(184, 100%, 22%);
	--color-trietary-800: hsl(179, 100%, 13%);

	--color-netural-100-75: hsla(0, 0%, 100%, 0.75);
	--color-netural-200: hsl(0, 0%, 95%);

	--ff-primary: 'Lexend Deca', sans-serif;
	--ff-secondary: 'Big Shoulders Display', sans-serif;

	--fw-netutal: 400;
	--fw-bold: 700;
}

/* 1.1 Styling */
body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-netutal);
	font-size: .937;
}

/* 1.2 Layout */
body {
	display: grid;
	place-content: center;
}

/* 2. SPECIFIC */
/* Styling */
.card {
	border-radius: .5rem;
	overflow: hidden;
}

.card__section:nth-child(1) {
	background-color: var(--color-primary-400);
}

.card__section:nth-child(2) {
	background-color: var(--color-secondary-700);
}

.card__section:nth-child(3) {
	background-color: var(--color-trietary-800);
}

.card__section__title {
	text-transform: uppercase;
	font-family: var(--ff-secondary);
	font-size: 2.5rem;
	color: var(--color-netural-200);
}

.card__section__paragraph {
	color: var(--color-netural-100-75);
}

.card__learn-more-button {
	border: 0;
	border-radius: 1rem;
	background-color: var(--color-netural-200);
}

.card__learn-more-button--primary {
	color: var(--color-primary-400);
}

.card__learn-more-button--secondary {
	color: var(--color-secondary-700);
}

.card__learn-more-button--trietary {
	color: var(--color-trietary-800);
}