/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.625;
	-webkit-font-smoothing: antialiased;
}

img, svg, picture, video {
	display: block;
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

button, input, select, textarea {
	font: inherit;
}

/* 1. GENERAl */
:root {
	--color-netural-100: hsl(210, 46%, 95%);
	--color-netural-200: hsl(212, 23%, 69%);
	--color-netural-400: hsl(214, 17%, 51%);
	--color-netural-600: hsl(217, 19%, 35%);

	--ff-primary: 'Manrope', sans-serif;

	--fw-netural: 500;
	--fw-bold: 700;
}

/* 1.1 Styling */
body {
	font-family: var(--ff-primary);
	font-size: .8125rem;
	color: var(--color-netural-400);
	background-color: var(--color-netural-100);
}

h1, h2, h3 {
	line-height: 1.5;
	font-size: 1rem;
	color: var(--color-netural-600);
}

/* 1.2 Layout */
main {
	min-height: 100vh;
	display: grid;
	place-content: center;
	padding: 1.5rem;
}

/* 2. SPECIFIC */
/* 2.1 Styling */
.article-showcase {
	border-radius: .5rem;
	overflow: hidden;
	background-color: #ffffff;
	box-shadow: 0 8px 32px -20px var(--color-netural-400);
}

@media (min-width: 700px) {
	.article-showcase {
		overflow: visible;
	}

	.article-showcase__image-container {
		border-radius: .5rem 0 0 .5rem;
		overflow: hidden;
	}
}

.article-showcase__image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: left;
}

@media (min-width: 700px) { 
	.article-showcase__title {
		font-size: 1.25rem;
	}
}

.article-showcase__credits-avatar {
	width: 2.375rem;
	height: 2.375rem;
	object-fit: cover;
	border-radius: 100%;
}

.share-button {
	width: 2rem;
	height: 2rem;

	padding-bottom: 2px;

	display: grid;
	place-content: center;

	border: 0;
	border-radius: 100%;
	background-color: var(--color-netural-100);

	cursor: pointer;
}

.share-button:where(:hover, :focus, [data-open="true"]) {
	background-color: var(--color-netural-400);
}

.share-button_inverted {
	background-color: var(--color-netural-400);
}

.share-button_inverted:where(:hover, :focus) {
	background-color: var(--color-netural-100);
}

.share-button__icon {
	fill: var(--color-netural-400);
}

.share-button:where(:hover, :focus, [data-open="true"]) .share-button__icon {
	fill: var(--color-netural-100);
}

.share-button__icon_inverted {
	fill: var(--color-netural-100);
}

.share-button:where(:hover, :focus) .share-button__icon_inverted {
	fill: var(--color-netural-400);
}

.article-showcase__share-container {
	background-color: var(--color-netural-600);
	box-shadow: 0 8px 32px -8px var(--color-netural-400);
}

@media (min-width: 700px) {
	.article-showcase__share-container .share-button {
		display: none;
	}

	.article-showcase__triangle {
		position: absolute;
		left: calc(var(--container-width) / 2 - 12px);
		bottom: -24px;
		width: 0;
		height: 0;

		border: 12px solid var(--color-netural-600);
		border-inline-color: transparent;
		border-bottom-color: transparent;
	}
}

.article-showcase__share-text {
	text-transform: uppercase;
	letter-spacing: .625ch;
	color: var(--color-netural-200);
}

/* 2.2 Layout */
.article-showcase {
	position: relative;
	max-width: 327px;
}

@media (min-width: 700px) {
	.article-showcase {
		max-width: 730px;
		display: grid;
		grid-template-columns: .64fr 1fr;
	}
}

@media (min-width: 700px) {
	.article-showcase__image {
		height: 100%;
	}
}

.article-showcase__content-container {
	position: relative;
	display: grid;
	place-content: center;
}

.article-showcase__content {
	padding: 2rem;
	padding-bottom: 1.25rem;
}

.article-showcase__credits-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: 2rem;
	padding-bottom: 1rem;
}

@media (min-width: 700px) {
	.article-showcase__content {
		padding: 2.5rem;
		padding-bottom: 1rem;
	}

	.article-showcase__credits-container {
		margin-inline: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

.article-showcase__title {
	margin-bottom: .75rem;
}

.article-showcase__paragraph {
	padding-right: .325rem;
	padding-bottom: .5rem;
}

.article-showcase__credits-avatar {
	margin-right: 1rem;
}

.article-showcase__share-container {
	--container-width: 100%;

	z-index: 10;
	position: absolute;
	bottom: 0;

	width: var(--container-width);
	height: 64px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-inline: 2rem;
}

@media (min-width: 700px) {
	.article-showcase__share-container {
		overflow: visible;
		position: absolute;
		right: calc(3.5rem - (var(--container-width) / 2));
		bottom: 6.825rem;

		--container-width: 250px;
		height: 56px;

		border-radius: .5rem;
	}
}

.article-showcase__share-text {
	margin-right: .25rem;
}

.article-showcase__share-social-link {
	margin-left: .85rem;
}

/* 3. UTILITY */
.highlight {
	font-weight: var(--fw-bold);
	color: var(--color-netural-600);
}

.flex {
	display: flex;
}

.flex-align-center {
	align-items: center;
}

.disabled {
	display: none;
}