/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, svg, picture, video {
	display: block;
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

button, input, select, textarea {
	font: inherit;
}

/* 1. GENERAl */
:root {
	--color-netural-100: hsl(210, 46%, 95%);
	--color-netural-200: hsl(212, 23%, 69%);
	--color-netural-400: hsl(214, 17%, 51%);
	--color-netural-600: hsl(217, 19%, 35%);

	--ff-primary: 'Manrope', sans-serif;

	--fw-netural: 500;
	--fw-bold: 700;
}

/* 1.1 Styling */
body {
	font-family: var(--ff-primary);
	font-size: .8125rem;
	color: var(--color-netural-400);
	background-color: var(--color-netural-100);
}

h1, h2, h3 {
	font-size: 1rem;
	color: var(--color-netural-600);
}

/* 2. SPECIFIC */
/* 2.1 Styling */
.article-showcase {
	background-color: #ffffff;
}

.article-showcase__credits-container {
	display: flex;
	justify-content: space-between;
}

.article-showcase__credits-avatar {
	width: 2.375rem;
	border-radius: 100%;
}

.article-showcase__share-container_disabled {
	display: none;
}

.article-showcase__share-button {
	width: 1.875rem;
	height: 1.875rem;

	display: grid;
	place-content: center;

	border: 0;
	border-radius: 100%;
	background-color: var(--color-netural-100);
}

/* 3. UTILITY */
.highlight {
	font-weight: var(--fw-bold);
	color: var(--color-netural-600);
}

.flex {
	display: flex;
}