/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	line-height: 1.5;
}

img, picture, video, svg {
	display: block;
	max-width: 100%;
}

button, input, select, textarea {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* 1. GENERAl */
:root {
	--color-primary-400: hsl(185, 75%, 39%);

	--color-netural-500: hsl(227, 10%, 46%);
	--color-netural-500-20: hsla(227, 10%, 46%, .2);
	--color-netural-800: hsl(229, 23%, 23%);

	--ff-primary: 'Kumbh Sans', sans-serif;

	--fw-primary: 400;
	--fw-bold: 700;
}

/* 1.1 Styling */
body {
	font-family: var(--ff-primary);
	font-size: .875rem;
	color: var(--color-netural-500);

	background-color: var(--color-primary-400);
}

h1, h2, h3 {
	color: var(--color-netural-800);
}

/* 1.2 Layout */
main {
	min-height: 100vh;
	display: grid;
	place-content: center;
	padding: 1.5rem;
}


/* 2. SPECIFIC */
/* 2.1 Styling */
.profile-card {
	--heading-size: 1.2em;
	--profile-banner-height: 138px;

	overflow: hidden;

	border-radius: .75rem;
	background-color: #ffffff;
}

.profile-card__banner {
	object-fit: cover;
	height: var(--profile-banner-height);
}

.profile-card__user-image-container {
	width: fit-content;
	padding: .375rem;
	background-color: #ffffff;
	border-radius: 100%;
}

.profile-card__user-image {
	border-radius: 100%;
}

.profile-card__user-name {
	display: inline;
	font-size: var(--heading-size);
}

.profile-card__user-age {
	display: inline;
	font-size: var(--heading-size);
}

.profile-card__user-stats {
	border-top: 1px solid var(--color-netural-500-20);
}

.profile-card__stat {
	font-size: var(--heading-size);
	font-weight: var(--fw-bold);
	color: var(--color-netural-800);
}

.profile-card__stat-title {
	font-size: .5625em;
	font-weight: initial;
	letter-spacing: .2ch;
	color: var(--color-netural-500);
}

/* 2.2 Layout */
.profile-card {
	position: relative;
	max-width: 375px;

	text-align: center;
}

.profile-card__user-image-container {
	position: absolute;
	top: calc(var(--profile-banner-height) - 96px/2 - .375rem);
	left: calc(50% - 96px/2 - .375rem);
}

.profile-card__details {
	margin-top: 4.5rem;
}

.profile-card__user-name {
	margin-right: .25rem;
}

.profile-card__user-location {
	margin-top: .375rem;
}

.profile-card__user-stats {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
	padding: 1.25rem 2.5rem 1.5rem 2.5rem;
}

.profile-card__stat {
	display: flex;
	flex-direction: column;
}